:root {
    --primary-text-color: #434455;
    --title-color: #2E2F42;
    --accent-color: #4D5AE5;
    --white-color: #ffffff;
    --color-cloud: #F4F4FD;
    --color-cornflower: #E7E9FC;
    --hover-color: #404BBF;
    --company-logo-color: #8E8F99;
    --modal-background-color: #FCFCFC;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}


.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    cursor: pointer;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.section-title {
    margin-bottom: 72px;
    line-height: calc(40/36);
    text-align: center;
    text-transform: capitalize;
    color: var(--title-color);
    font-size: 36px;
   
}

/* social */

.social-list,
.team-social-list {
    display: flex;
    justify-content: center;
}

.team-social-list-item,
.social-list-item {
    width: 40px;
    height: 40px;
}

.team-social-list-link,
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.team-social-list-icon,
.social-list-icon {
    fill: var(--color-cloud);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* styles */

.container {
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }

}

/* header */

.header {
    border-bottom: 1px solid var(--color-cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.header-box {
    display: flex;
    align-items: center;
}

.logo {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: calc(21/18);
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
}

.logo-header {
    color: var(--title-color);
}


@media screen and (max-width: 768px) {
    .menu,
    .contacts-box {
        display: none;
    }
}

/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 16px 24px;

    width: 392px;
    background-color: var(--modal-background-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-dur-and-func);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.2);
}

@media screen and (max-width: 400px) {
    .modal {
        width: 90%;
    }

}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: var(--color-cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    transition: background-color var(--transition-dur-and-func);
}



.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--hover-color);
}

.modal-close-btn-icon {
    transition: fill var(--transition-dur-and-func);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--white-color);
}


.modal-heading {
    display: block;
    text-align: center;
    margin-bottom: 16px;

    font-weight: 500;
    line-height: 1.5;
    color: var(--title-color);
}

.modal-form-field {
    display: block;
}

.modal-form-field+.modal-form-field {
    margin-top: 8px;
}


.modal-form-input-desc {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--company-logo-color);
}


.modal-form-input-desc.modal-name {
    line-height: 1.33;
    letter-spacing: 0.04em;
}

.modal-form-input-wrapper {
    position: relative;
    display: block;
}

.modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    fill: var(--title-color);
    transition: fill var(--transition-dur-and-func);
}

.modal-form-input,
.modal-form-message {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border var(--transition-dur-and-func);
}

.modal-form-input {
    padding-left: 38px;
    padding-right: 38px;
    font-size: 14px;
    line-height: 1.5;
    height: 40px;
}

.modal-form-input:focus,
.modal-form-message:focus {
    border: 1px solid var(--accent-color);
    outline: transparent;
}

.modal-form-input:focus+.modal-form-input-icon {
    fill: var(--accent-color);
}

.modal-form-message {
    display: block;
    height: 120px;
    padding: 8px 16px;

    resize: none;
    font-size: 14px;
    line-height: 1.5;
}

.modal-form-message::placeholder {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}


/* checkbox */

.modal-form-check-fake {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--title-color);
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;

    transition: border-color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}

.modal-form-chek-icon {
    opacity: 0;
}


.modal-form-check:checked+.modal-form-check-fake {
    background-color: var(--hover-color);
    border-color: #404BBF;
}

.modal-form-check:checked+.modal-form-check-fake>.modal-form-chek-icon {
    opacity: 1;
}

.modal-form-check:focus+.modal-form-check-fake {
    border-color: var(--hover-color);
}

.modal-form-check-desc {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 16px;

    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
}

.policy-link {
    color: var(--accent-color);
}

.modal-form-send {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    padding: 16px 32px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    cursor: pointer;
    transition: background-color var(--transition-dur-and-func);
}

.modal-form-send:hover,
.modal-form-send:focus {
    background-color: var(--hover-color);
}

/* tablet */

@media screen and (min-width: 768px) {
    .modal {
        padding: 72px 24px 24px;
        width: 408px;
    }
}


/* modal mobile menu */

.mobile-menu-btn {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 22px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    stroke: #2E2F42;
}

@media screen and (min-width:768px) {
    .mobile-menu-btn {
        display: none;
    }
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    padding: 80px 35px 40px 40px;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    z-index: 900;
    overflow-y: auto;

    transform: translateX(100%);
    transition: var(--transition-dur-and-func);
}

.menu-container.is-open {
    transform: translateX(0);
}

.mobile-menu-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: var(--color-cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color var(--transition-dur-and-func);
    margin: 0;
   
}


.mobile-menu-btn-close:hover,
.mobile-menu-btn-close:focus {
    background-color: var(--hover-color);
}

.mobile-close-btn-icon {
    transition: fill var(--transition-dur-and-func);
    
}

.mobile-menu-btn-close:hover .mobile-menu-btn-close-icon,
.mobile-menu-btn-close:focus .mobile-menu-btn-close-icon {
    fill: var(--white-color);
}

.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    text-decoration: none;
    color: var(--title-color);

    transition: color var(--transition-dur-and-func);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: var(--hover-color);
}

.mobile-menu-link.current {
    color: var(--hover-color);
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu {
    margin-bottom: 284px;
    list-style: none;
}

.mobile-menu-contacts-tel,
.mobile-menu-contacts-email {
    text-decoration: none;
}

.mobile-menu-contacts-tel {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    color: var(--primary-text-color);
}

.mobile-menu-contacts-email {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    color: var(--primary-text-color);
}

.mobile-menu-contacts-tel,
.mobile-menu-contacts-email {
    transition: color var(--transition-dur-and-func);
}

.mobile-menu-contacts-tel:hover,
.mobile-menu-contacts-tel:focus,
.mobile-menu-contacts-email:hover,
.mobile-menu-contacts-email:focus {
    color: var(--accent-color)
}

.mobile-menu-contacts-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-contacts-item:last-child {
    margin-bottom: 48px;
}


/* mobile menu social links */

.mobile-menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 56px;
}

.mobile-menu-list-item {
    width: 40px;
    height: 40px;
}

.mobile-menu-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--accent-color);

    transition: background-color var(--transition-dur-and-func);
}

.mobile-menu-list-link:hover,
.mobile-menu-list-link:focus {
    background-color: var(--hover-color);
}

.mobile-menu-list-icon {
    fill: var(--color-cloud);
}

/* tablet styles */

@media screen and (min-width:768px) {
    .navigation {
        display: flex;
        align-items: center;
    }

    .menu {
        display: flex;
        gap: 40px;
        margin-left: 120px;
    }


    .menu-link {
        display: block;
        padding-top: 24px;
        padding-bottom: 22px;

        color: var(--title-color);
        font-weight: 500;
        text-decoration: none;
        line-height: 1.5;
        transition: color var(--transition-dur-and-func);
    }

    .menu-link.current {
        color: var(--hover-color);
        position: relative;
    }

    .menu-link.current::after {
        display: block;
        content: "";
        width: 100%;
        height: 4px;
        background-color: var(--hover-color);
        border-radius: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .contacts-box {
        display: block;
        margin-left: auto;
    }

    .contacts-link {
        text-decoration: none;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--primary-text-color);
        font-style: normal;
        transition: color var(--transition-dur-and-func);
    }

    .contacts-item:not(:last-child) {
        margin-bottom: 6px;
    }

    .contacts-link:hover,
    .contacts-link:focus,
    .menu-link:hover,
    .menu-link:focus {
        color: var(--hover-color);
    }
}

/* desktop styles */

@media screen and (min-width: 1200px) {
    .logo {
        padding-bottom: 28px;
    }

    .menu {
        margin-left: 76px;
    }

    .menu-link {
        padding-bottom: 28px;
    }

    .contacts {
        display: flex;
    }

    .contacts-item:not(:last-child) {
        margin-right: 40px;
        margin-bottom: 0
    }

    .contacts-link {
        padding-top: 24px;
        padding-bottom: 28px;

        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* hero */

.hero {
    padding-top: 112px;
    padding-bottom: 112px;
    text-align: center;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--title-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero/Dark-bg_mob@1x.png);
}


@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/Dark-bg_mob@2x.png);
    }
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/Dark-bg_tabl@1x.png);
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero/Dark-bg_tabl@2x.png);
        }
    }
}


@media screen and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/Dark-bg_desk@1x.png);
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero/Dark-bg_desk@2x.png);
        }
    }
}


@media screen and (min-width: 768px) {
    .hero {
        padding-bottom: 108px;
    }
}


@media screen and (min-width: 1200px) {
    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
    }
}


.hero-title {
    margin-bottom: 72px;
    width: 320px;
    font-size: 36px;
    line-height: calc(40/36);
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
    color: var(--white-color);
}

/* 350px */

@media screen and (max-width: 350px) {
    .hero-title {
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .hero-title {
        margin-bottom: 40px;
        width: 496px;
        font-size: 56px;
        line-height: calc(60/56);
    }
}

@media screen and (min-width: 1200px) {
    .hero-title {
        margin-bottom: 48px;
    }
}

.hero-btn {
    padding: 16px 32px;

    color: var(--white-color);
    background-color: var(--accent-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color var(--transition-dur-and-func);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--hover-color);
}

/* features */

.thumb {
    display: none;
}

.features-list-title {
    margin-bottom: 8px;
    text-align: center;
    color: var(--title-color);
}


.features-list-text {
    font-weight: 500;
    line-height: calc(24/16);
}

.features-list-item:not(:last-child) {
    margin-bottom: 72px;
}

/* tablet  */


@media screen and (min-width: 768px) {
    .features-list-title {
        text-align: start;
    }

    .features-list {
        display: flex;
    }

    .features-list-item:not(:last-child) {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .features-list {
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .features-list-item {
        flex-basis: calc((100% - 24px)/2);
    }
}

@media screen and (max-width: 1200px) {
    .features-list-title {
        font-weight: 700;
        font-size: 36px;
        line-height: calc(40/36);
    }
}

@media screen and (min-width: 1200px) {
    .features-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .features-list-item {
        flex-basis: calc((100% - 72px)/4);
    }

    .thumb {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        height: 112px;
        background-color: var(--color-cloud);
    }


    .features-list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: calc(24/20);
    }

    .features-list-text {
        font-weight: 400;
    }
}

/* work */

.section.work {
    display: none;
}

@media screen and (min-width: 1200px) {
    .section.work {
        display: block;
        padding-top: 0;
    }

    .work-list-item {
        flex-basis: calc((100%-48px)/3);
    }

    .work-list {
        display: flex;
        gap: 24px;
    }
}

/* team */

.section.team {
    background-color: var(--color-cloud);
    padding-bottom: 128px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 72px;
}


.team-list-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}


.team-desc {
    padding: 32px 16px;
    text-align: center;
}

.team-list-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
}

.team-list-text {
    margin-bottom: 8px;
    line-height: calc(24/16);
    text-align: center;
    color: var(--primary-text-color);
}

.team-social-list {
    gap: 24px;
}

.team-social-list-link {
    background-color: var(--accent-color);
    transition: background-color var(--transition-dur-and-func);
}

.team-social-list-link:hover,
.team-social-list-link:focus {
    background-color: var(--hover-color);
}

/* tablet */

@media screen and (min-width: 768px) {
    .section.team {
        padding-bottom: 104px;
    }

    .team-list {
        column-gap: 24px;
        row-gap: 64px;
    }

    .team-list-item {
        flex-basis: 264px;
    }
}

/* desktop */

@media screen and (min-width: 1200px) {
    .section.team {
        padding-bottom: 120px;
    }

    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
    }


    .team-social-list {
        display: flex;
        justify-content: center;
    }

    .team-list-item {
        flex-basis: calc((100%-72px)/4);
    }
}

/* customers */

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    row-gap: 72px;
}

.customers-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 88px;
    border: 1px solid var(--company-logo-color);
    border-radius: 4px;

    transition: border var(--transition-dur-and-func);
}

.customers-list-link:hover,
.customers-list-link:focus {
    border: 1px solid var(--hover-color);
}


.customers-list-icon {
    fill: var(--company-logo-color);

    transition: fill var(--transition-dur-and-func);
}

.customers-list-link:hover .customers-list-icon,
.customers-list-link:focus .customers-list-icon {
    fill: var(--hover-color);
}

/* tablet */
@media screen and (min-width: 768px) {
    .customers-list {
        column-gap: 24px;
    }

    .customers-list-link {
        width: 168px;
    }
}

/* footer */

.footer {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--title-color);
}

.logo.footer-desc {
    display: block;
    text-align: center;
    margin-bottom: 16px;
    padding-top: 0;
    padding-bottom: 0;

}

.logo-footer {
    color: var(--color-cloud);
}

.footer-desc {
    max-width: 268px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.footer-text {
    color: var(--color-cornflower);
    line-height: calc(24/16);
}


.social-list-title,
.subscribe-text {
    margin-bottom: 16px;

    text-align: center;
    font-weight: 500;
    line-height: calc(24/16);
    color: var(--white-color);
}

.social-list {
    gap: 16px;

}

.social-list-link {
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color var(--transition-dur-and-func);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #31D0AA;
}

.social-links {
    margin-bottom: 72px;
}

.subscribe-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.email-form-desc {
    width: 100%;
}

.email-form-input {

    width: 100%;
    padding: 8px 16px;
    margin-bottom: 16px;

    color: var(--white-color);
    line-height: 1.5;
    background-color: var(--title-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.email-form-input::placeholder {
    font-size: 12px;
    line-height: calc(24/12);
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    min-width: 165px;
    padding: 8px 24px;

    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;

    font-weight: 500;
    line-height: calc(24/16);
    letter-spacing: 0.04em;
    color: var(--white-color);
    cursor: pointer;
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: var(--hover-color);
}


.icon-airplane {
    fill: var(--white-color);
}

/* tablet */

@media screen and (min-width: 768px) {
    .logo.footer-desc {
        text-align: start;
    }

    .footer-box {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: center
    }

    .footer-desc {
        max-width: 264px;
        margin-left: 0;
        margin-right: 24px;
    }

    .social-list-title {
        text-align: start;
    }

    .social-links {
        margin-bottom: 0;
    }

    .subscribe-form {
        align-items: baseline;
    }

    .email-form-desc {
        margin-right: 24px;
        width: 264px;
    }

    .subscribe-text {
        text-align: start;
    }

}

/* desktop */

@media screen and (min-width: 1200px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-box {
        flex-wrap: nowrap;
    }

    .footer-desc {
        margin-right: 120px;
        margin-bottom: 0;
    }

    .social-links {
        margin-right: 80px;
    }
}

/* portfolio */

.section.portfolio {
    padding-top: 48px;
    padding-bottom: 48px;
}

.heder-portfolio {
    border-bottom: 1px solid var(--color-cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.filter {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    gap: 24px;
    margin-bottom: 48px;
}

.filter-btn {
    padding: 8px 16px;
    color: var(--accent-color);
    background-color: var(--color-cloud);
    border: 1px solid var(--color-cornflower);

    transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func),
        border-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--white-color);
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;

}

.portfolio-list-title {
    color: var(--title-color);
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    margin-bottom: 8px;
}

.portfolio-list-text {
    line-height: 1.5;
}

.portfolio-list-img-box {
    position: relative;
    overflow: hidden;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: var(--accent-color);
    line-height: 1.5;
    color: var(--color-cloud);
    overflow: auto;

    transform: translateY(100%);
    transition: transform var(--transition-dur-and-func);
}

.wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid var(--color-cornflower);
    border-top: none;

    transition: border var(--transition-dur-and-func);
}

.portfolio-list-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-list-link {
    display: block;
    text-decoration: none;
    color: inherit;

    transition: box-shadow var(--transition-dur-and-func);
}

.portfolio-list-link:hover,
.portfolio-list-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.portfolio-list-link:hover .wrapper,
.portfolio-list-link:focus .wrapper {
    border: 0.5px solid var(--color-cloud);
    border-top: none;
}

.portfolio-list-link:hover .overlay,
.portfolio-list-link:focus .overlay {
    transform: translateY(0);
}

/* tablet */
@media screen and (min-width: 768px) {

    .section.portfolio {
        padding-top: 64px;
        padding-bottom: 96px;
    }

    .image {
        width: 356px;
        height: 300px;
    }

    .filter {
        margin-bottom: 64px;
        justify-content: center;
    }

    .filter-btn {
        padding: 12px 24px;
    }

    .portfolio-list {
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-list-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}


/* desktop */

@media screen and (min-width: 1200px) {
    .section.portfolio {
        padding-top: 96px;
        padding-bottom: 120px;
    }

    .image {
        width: 360px;
        height: 300px;
    }

    .filter {
        margin-bottom: 72px;
    }

    .portfolio-list {
        row-gap: 48px;

    }

    .portfolio-list-item {
        flex-basis: calc((100% - 48px) / 3);
    }
}

